<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="bootstrap admin template">
    <meta name="author" content="">
    <title>Audit Trail</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="../lib/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="../lib/css/bootstrap-extend.min.css" media="screen">
    <link rel="stylesheet" href="../lib/css/material-design/material-design.min.css">
    <link rel="stylesheet" href="../lib/css/site.min.css">
    <style>
        .timeline:not(.timeline-single)>li.timeline-period+.timeline-item+.timeline-item,
        .timeline:not(.timeline-single)>li:not(.timeline-period):first-child+.timeline-item {
            margin-top: 45px;
        }
    </style>
</head>

<body>

    <div id="div1" style=" width: 50%; height: 50%; float: left;">
    </div>
    <div id="div2" style=" width: 50%; height: 50%; float: left;">
    </div>
    <div id="div3" style=" width: 80%; height: 50%; float: left;">
    </div>
    <div id="div4" style=" width: 20%; height: 50%; float: left;overflow: auto;box-shadow: 2px 2px 10px 5px #C7C7C7;">
        <div class="container">
            <button class="btn btn-icon" style="float: right;" data-toggle="modal" data-target="#audit_FullModal">
                <i class="icon md-menu" aria-hidden="true"></i>
            </button>
        </div>
        <div class="container">
            <ul class=" timeline timeline-simple" id="container_id">

            </ul>

            <div id="hidden_modal" style="display: none;">
                <ul class="timeline timeline-icon" id="container_id_full">

                </ul>
            </div>



        </div>
    </div>



    <!-- Modal -->
    <div class="container">

        <div class="container modal fade" id="audit_Modal" role="dialog" tabindex="-1" style="display: block;z-index:9999;width:fit-content;">
            <div class="modal-dialog  modal-center" style="text-align: center; width: auto;">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body">
                        <p id="modal-audit-type">Audit Type</p>
                        <p id="modal-audit-comment">Audit Comment</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>


        <div class="container modal fade" id="audit_FullModal" role="dialog" tabindex="-1">
            <div class="modal-dialog  modal-center" style="text-align: center; width: auto;">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body" style="max-height: calc(100vh - 210px);overflow-y: auto;">
                        <!-- <p>Modal body</p> -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script type="text/template" id="audit_template">
       <li class="timeline-item <%= timeline_class %>">
            <div class="timeline-dot" style="background-color:<%= timeline_dot_color %>"  ></div>
            <div class="timeline-info" style="margin-bottom:3px;">
                    <time datetime="DD MMM YYYY"> <%= audit_short_date %></time>
                </div>
            <div class="timeline-content"   data-placement="right" data-toggle="tooltip" data-trigger="hover" title="<%= audit_date %>">
              <div class="widget widget-article ">
                    <div class="widget-body" style="padding:0px; text-align:center;">
                        <p><%= audit_event %></p>
                    </div>
              </div>
            </div>
        </li>
    </script>

    <script type="text/template" id="audit_fulltemplate">
        <li class=" timeline-item <%= timeline_class %>" >
            <div class="timeline-dot" style="background-color:<%= timeline_dot_color %>" >
                <%= audit_id %>  <i class="<%= timeline_icon_class %>" aria-hidden="true"></i>
            </div>
            <div class="timeline-info" style="margin-bottom:10px;" data-toggle="modal" data-target="#audit_Modal" data-auditid="<%= audit_id %>" data-auditdate="<%= audit_date %>"
                data-audittype="<%= audit_event %>" data-auditcomment="<%= audit_description %>">
                <time datetime="DD MMM YYYY hh:mm A"> <%= audit_long_date %></time>
            </div>
             <div class="timeline-content"> 
                <div class="widget widget-article ">
                    <div class="widget-body" style="padding:0px;">
                            <div class="testimonial testimonial-top <%= timeline_class == 'timeline-reverse' ?  '' : 'testimonial-reverse' %>">
                            <ul class="testimonial-ul row">
                                    <li class="testimonial-item" style="padding:0px;text-align:<%= timeline_class == 'timeline-reverse' ?  'start' : 'end' %>;">
                                <span class="testimonial-author" style="padding:0px;margin:0px;">
                                        <%= audit_user %>
                                </span>
                                <span class="testimonial-company" style="margin:0px;"> <%= audit_event %></span>
                                <div class="testimonial-content">
                                    <p><%= audit_description %></p>
                                    <p>Nam nec ante. Sed lacinia, urna non tincidunt mattis,
                                    tortor neque adipiscing diam, a cursus ipsum ante quis
                                    turpis. </p>
                                </div>
                                </li>
                            </ul>
                            </div>
                    </div>
                </div>
            </div>
        </li>
    </script>


    <!-- Core  -->
    <script type="text/javascript" src="../lib/js/jquery.js"></script>
    <script type="text/javascript" src="../lib/js/bootstrap.js"></script>
    <!-- <script type="text/javascript" src="../lib/Timeline/babel-external-helpers.js"></script> -->
    <script type="text/javascript" src="../lib/js/jquery.appear.js"></script>
    <script src="../lib/js/moment.min.js" type="text/javascript"></script>
    <script src="../lib/js/underscore.js" type="text/javascript"></script>
    <script src="../lib/js/backbone.js" type="text/javascript"></script>



    <!-- Scripts -->
    <script type="text/javascript" src="../lib/js/core.js"></script>
    <script type="text/javascript" src="../lib/js/config-colors.js"></script>
    <script type="text/javascript" src="../lib/js/site.js"></script>
    <script type="text/javascript" src="../lib/js/timeline.js"></script>




    <!-- custom js start-->
    <script src="../lib/js/modal.js" type="text/javascript"></script>
    <script src="../Models/AuditModel.js" type="text/javascript"></script>
    <script src="../Views/AuditModelView.js" type="text/javascript"></script>
    <script src="../Collections/AuditCollection.js" type="text/javascript"></script>
    <script src="../Views/AuditCollectionView.js" type="text/javascript"></script>
    <script src="../app.js" type="text/javascript"></script>
    <!-- custom js end-->

</body>

</html>