 <!-- <script type="text/template" id="audit_fulltemplate">
        <li class=" timeline-item <%= timeline_class %>" >
            <div class="timeline-dot" style="background-color:<%= timeline_dot_color %>" >
                <%= audit_id %>
            </div>
            <div class="timeline-info" style="margin-bottom:10px;" data-toggle="modal" data-target="#audit_Modal" data-auditid="<%= audit_id %>" data-auditdate="<%= audit_date %>"
                data-audittype="<%= audit_event %>" data-auditcomment="<%= audit_description %>">
                <time datetime="2016-05-15"> <%= audit_date %></time>
            </div>
            <div class="timeline-content" style="display: flex; justify-content: <%= timeline_class == 'timeline-reverse' ?  'flex-start' : 'flex-end' %>;">
                <div class="widget widget-article widget-shadow">
                    <div class="widget-body" style="padding:0px;">
                            <div style="max-width:300px !important;" class="testimonial testimonial-top <%= timeline_class == 'timeline-reverse' ?  '' : 'testimonial-reverse' %>">
                            <ul class="testimonial-ul row">
                                <li class="testimonial-item" style="padding:0px;">
                                <span class="testimonial-author" style="margin:0px;">
                                        <%= audit_user %>
                                </span>
                                <span class="testimonial-company" style="margin:0px;"> <%= audit_event %></span>
                                <div class="testimonial-content">
                                    <p>Nam nec ante. Sed lacinia, urna non tincidunt mattis,
                                    tortor neque adipiscing diam, a cursus ipsum ante quis
                                    turpis. </p>
                                </div>
                                </li>
                            </ul>
                            </div>
                    </div>
                </div>
            </div>
        </li>
    </script> -->


    <!-- 
         <script type="text/template" id="audit_template">
       <li class="timeline-item <%= timeline_class %>">
            <div class="timeline-dot" style="background-color:<%= timeline_dot_color %>" 
                data-placement="right" data-toggle="tooltip" data-trigger="hover" title="<%= audit_date %>"></div>
            <div class="timeline-content">
              <div class="widget widget-article widget-shadow">
                    <div class="widget-body" style="padding:0px 20px;background: #f3f4f5;float:<%= timeline_class == 'timeline-reverse' ?  'left' : 'right' %>;">
                        <p><%= audit_event %></p>
                    </div>
              </div>
            </div>
        </li>
    </script>
     -->