 <!-- <script type="text/template" id="audit_fulltemplate">
        <li class=" timeline-item <%= timeline_class %>" >
            <div class="timeline-dot" style="background-color:<%= timeline_dot_color %>" >
                <%= audit_id %>  <i class="<%= timeline_icon_class %>" aria-hidden="true"></i>
            </div>
            <div class="timeline-info" style="margin-bottom:10px;">
                <time datetime="DD MMM YYYY hh:mm A"> <%= audit_long_date %></time>
            </div>
             <div class="timeline-content" style="display: flex; justify-content: <%= timeline_class == 'timeline-reverse' ?  'flex-start' : 'flex-end' %>;"> 
                <div class="widget widget-article ">
                    <div class="widget-body" style="padding:0px;">
                            <div class="testimonial testimonial-top <%= timeline_class == 'timeline-reverse' ?  '' : 'testimonial-reverse' %>">
                            <ul class="testimonial-ul row">
                                <li class="testimonial-item" style="padding:0px;text-align:<%= timeline_class == 'timeline-reverse' ?  'start' : 'end' %>;">
                                    <span class="testimonial-company" style="margin:0px;"> <%= audit_event %></span>
                                    <span class="testimonial-author" style="padding:0px;margin:0px;">
                                            <%= audit_user %>
                                    </span>
                                
                                <div class="testimonial-content">
                                    <p><%= audit_description %></p>
                                </div>
                                </li>
                            </ul>
                            </div>
                    </div>
                </div>
            </div>
        </li>
    </script> -->


    <!-- 
       <script type="text/template" id="audit_template">
       <li class="timeline-item <%= timeline_class %>">
            <div class="timeline-dot" style="background-color:<%= timeline_dot_color %>"  ></div>
            <div class="timeline-info" style="margin-bottom:3px;">
                    <time datetime="DD MMM YYYY"> <%= audit_short_date %></time>
                </div>
            <div class="timeline-content"   data-placement="right" data-toggle="tooltip" data-trigger="hover" title="<%= audit_date %>">
              <div class="widget widget-article ">
                    <div class="widget-body" style="padding:0px; text-align:center;">
                        <p><%= audit_event %></p>
                    </div>
              </div>
            </div>
        </li>
    </script>
     -->